#footer
  %a.logo{href: "http://www.intersect.org.au/attribution-policy", target: "_about"}>
  Developed by 
  %a{href: "http://www.intersect.org.au"} Intersect Australia Ltd
  , in conjunction with
  %a{href: "http://www.preru.unsw.edu.au/preruweb.nsf/page/ANZNN"} ANZNN
  and
  %a{href: "http://www.unsw.edu.au/"} UNSW
