%head
  %title
    ANZNN - #{yield :title}
  = stylesheet_link_tag    "application"
  <!--[if IE 6]><link href="/assets/ie6.css?body=1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  = javascript_include_tag "application"
  = csrf_meta_tags
