.content
  - title 'Home'
  - if !user_signed_in?
    = form_for("user", :url => user_session_path) do |f|
      = render(:partial => 'devise/sessions/form', :locals => { :f => f })
    = link_to "Sign Up", new_user_registration_path, :class => "button"
    = link_to "Forgot your password?", new_user_password_path, :class => "button"
  - else

    %ul.tabs
      %li.active
        %a Edit form
      %li
        %a Summary
      %li
        %a Alerts
      %li
        %a Settings

    %h1 Editing form ANZNN_01012012
    .pagination
      %ul
        %li.prev.disabled
          %a &larr; Previous
        %li
          %a 1
        %li
          %a 2
        %li
          %a 3
        %li
          %a 4
        %li
          %a 5
        %li
          %a 6
        %li.active
          %a 7
        %li
          %a 8
        %li
          %a 9
        %li
          %a 10
        %li
          %a 11
        %li
          %a 12
        %li
          %a 13
        %li
          %a 14
        %li
          %a 15
        %li
          %a 16
        %li
          %a 17
        %li
          %a 18
        %li
          %a 19
        %li.next
          %a Next &rarr;
    .row

      .span12

        %form
          %fieldset
            %legend Section 7
            .clearfix
              %label Registration hospital:
              .input
                %input.xxlarge{:placeholder => "Hospital Name"}
            .clearfix
              %label Maternal age:
              .input
                %select.small{:name => "age"}
                  %option{:value => "", :disabled => "disabled"} Age
                  %option 10
                  %option 40
                  %option 60
                  %option Unknown
            .clearfix
              %label Prev. pre-term birth:
              .input
                %ul.inputs-list
                  %li
                    %label
                      %input{:type => "radio", :name => "age"} 
                      %span Yes ( -1 )
                  %li
                    %label
                      %input{:type => "radio", :name => "age"}
                      %span No ( 0 )
            .clearfix
              %label Membrane rupture (D):
              .input
                %select.small{:name => "Day", :placeholder => "Day"}
                  %option Day
                  %option 1
                  %option 2
                <span>/</span>
                %select.small{:name => "Month"}
                  %option{:value => "", :disabled => "disabled"} Month
                  %option 1
                  %option 2
                <span>/</span>
                %select.small{:name => "Year"}
                  %option{:value => "", :disabled => "disabled"} Year
                  %option 2001
                  %option 2002
            .clearfix
              %label Membrane rupture (T):
              .input
                %select.small{:name => "hour"}
                  %option{:value => "", :disabled => "disabled"} Hour (24hr)
                  %option 01
                  %option 02
                  %option 22
                <span>:</span>
                %select.small{:name => "minute"}
                  %option{:value => "", :disabled => "disabled"} Minute
                  %option 01
                  %option 58
            .clearfix
              %label Assisted conception:
              .input
                %input.xxlarge
            .clearfix
              %label Ethnicity of mother:
              .input
                %input.xxlarge
            .clearfix
              %label Surgery description:
              .input
                %textarea.xxlarge{:rows => "3"}
          .actions
            %a.btn.primary Save section
            %a.btn Cancel
      .span4
        %h2 Field Information
        %p dwaib aw abdaoubuah  wajd aho auuho awdb uhaaw ba haw  aob huoa oua b ahu douh bad buoawjb  daod ahdhua iud akdk amld jlawd jawbda wbhd boa bdahw duaw dbau dauha hbuawdauwhdbu awdahhb dahdjawb a oudbaw dkbad biad oaufoua yfawuo dabudb haua owad baj dajdb  abjdjbahj dawj da
