- content_for :title do
 = "Home"

%h2 Messages from the system
%h3 Greetings, Executor.
%p Though we all grieve for the loss of mighty Tassadar, we must find the resolve to carry on. He sacrificed himself to destroy the Overmind, but many Zerg still rage across our ruined homeworld.
%p Without the Conclave to lead us, or the protection of our great fleets, it seems we must fend for ourselves.

%h2 New Survey
=link_to "New", new_survey_path

%h2 Incomplete Surveys you have started
%p This one
%p That one