.section-nav.span12
  %ul
    %li= link_to "Summary", '#', {class: "section-navigation", section_id: "summary"}
    - @response.survey.sections.each do |section|
      %li{class: ('active' if section.id == @section.id)}
        = link_to section.name, '#', {class: "section-navigation", section_id: section.id}
