- title "#{@response.survey.name} - Baby Code #{@response.baby_code}"

%table#summary.bordered-table.condensed-table
  - @response.survey.sections.each do |section|
    %tr
      %td= section.name
      %td= @response.status_of_section(section)
