= tabs_tag(builder: MenuTabBuilder, namespace: :admin_navigation) do |tab|
  %ul.tabs
    = tab.users 'Current Users', admin_users_path
    = tab.access_requests 'Access Requests', access_requests_admin_users_path